.Rproj.user
.Rhistory
.RData
src/*.o
src/*.so
src/*.dll
*.log
*.exe
*cache/*
*concordance.tex
Sweavel.sty
*.synctex.gz
vignettes/graphic
tmp
inst/doc
docs
.DS_Store
/*.hmp
.positai
*.bin
!inst/**/*.bin
!inst/*.bin
*.tar.gz
*.Rcheck
AGENTS.html
.antigravitycli
Rplots.pdf
instructions.md
